PORT=3001
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

STORAGE_BUCKET=""
STORAGE_ENDPOINT=""
STORAGE_REGION="auto"
STORAGE_ACCESS_KEY_ID=""
STORAGE_SECRET_ACCESS_KEY=""
STORAGE_FORCE_PATH_STYLE=false